:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuentePrincipal: 3.8rem;
    --grisclaro: #cfe2f5;
}

/*GLOBALES*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background: no-repeat;
    /* background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%); */


}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    background: var(--grisclaro); 
    background: -webkit-linear-gradient(to top, (--grisclaro), 0%, var(--blanco)); 
    background: linear-gradient(to right,var(--grisclaro), var(--blanco));
}

p {
    color: black;
    font-size: 2rem;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    margin: calc(5rem / 2) 0;
    font-weight: 300;
    text-align: center;

}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* Encabezado */
.nav{
    display: flex;
}

.logo{
    width: 10rem;
    margin-right: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 12rem;
    background-color: #C0E9FF;
    margin-bottom: 2rem;
    margin-bottom: 5rem;
}

.cerrar{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    /* border: 1px solid var(--primario); */
    margin: auto 0;
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--primario);
    /* color: var(--blanco); */
}
.cerrar:hover{
    background-color: rgb(28, 115, 142);
    color: var(--blanco);
}
/* Index */
.h1,
.titulo {
    font-size: 4rem;
    font-weight: 700;
    color: #212121;
}

.flex{
    display: flex;
    justify-content: center;
}

.centrado-grid {
    display: grid;
    place-content: center;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}
.grid-3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.contenedor-formulario{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contendor-img-transf{
    display: flex;
    justify-content: center;
    width: 50rem;
}

.labels{
    font-size: 4rem;
    display: flex;
    justify-content: center;
} 

.selectores{
    height: 5rem;
    width: 70%;
    /* padding: 1rem; */
    padding-left: 6rem ;
    border-radius: 2rem;
}
option,
.selectores{
    font-size: 2rem;
    font-weight: 700;
}

.boton{
    
    background-color: aliceblue;
    border-radius: 1rem;
    /* border: none; */
    font-size: 4rem;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
}
.boton:hover{
    background-color: var(--secundario);
    cursor: pointer;
}

.campos{
    
    margin-top: 2rem;
    width: 80%;
    height: 4rem;
    border-radius: 2rem;
    font-size: 3rem;
    padding: 2rem;
}

.img-transf{
    width: 15rem;
}
.retiro{
    grid-row: 1/3;
    /* place-content: center; */
}

.contenido {
    background-image: #2eb1ee;
    border-radius: 2rem;

    border: 1px solid black;
    /* display: grid;
    place-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30rem;

    font-weight: 700;
    font-size: 4rem;
}

.enlace {
    background-color: #bfdcf3;
    color: var(--gris);
}

.contenido:hover,
.enlace:hover {
    background-color: var(--secundario);
    cursor: pointer;
    color: var(--oscuro);
    /* height: 35rem; */
}

.iconos {
    width: 10rem;
    padding-bottom: 1rem;
}

footer {

    margin-top: 7rem;
    text-align: center;
}

/**/

.valor {
    font-size: 5rem;
    margin-left: 11rem;
    color: #212121;
}

.valores-left {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
}

.valores-right {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
}


.box,
.box2 {
    margin-top: 8rem;
    position: relative;
    z-index: 0;
    height: 10rem;
    width: 31rem;
}

.contenedor-campos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-campos:nth-child(2){
    grid-column: 3/4;
}

.box:before,
.box2:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--secundario);
}


.texto {
    display: block;
    text-align: center;
    font-size: 5rem;
}


.box:before {

    clip-path: polygon(0 0, calc(100% - 48.00px) 0, calc(100% - 24px) 24px, 100% 48.00px, 100% calc(100% - 48.00px), calc(100% - 24px) calc(100% - 24px), calc(100% - 48.00px) 100%, 0 100%, 0 0, 10px 10px, 10px calc(100% - 10px), calc(100% - 48.00px - 4.14px) calc(100% - 10px), calc(100% - 24px - 7.07px) calc(100% - 24px - 7.07px), calc(100% - 10px) calc(100% - 48.00px - 4.14px), calc(100% - 10px) calc(48.00px + 4.14px), calc(100% - 24px - 7.07px) calc(24px + 7.07px), calc(100% - 48.00px - 4.14px) 10px, 10px 10px);
}


.box2:before {
    clip-path: polygon(0 48.00px, 24px 24px, 48.00px 0, 100% 0, 100% 100%, 48.00px 100%, 24px calc(100% - 24px), 0 calc(100% - 48.00px), 0 48.00px, 10px calc(48.00px + 4.14px), 10px calc(100% - 48.00px - 4.14px), calc(24px + 7.07px) calc(100% - 24px - 7.07px), calc(48.00px + 4.14px) calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 10px, calc(48.00px + 4.14px) 10px, calc(24px + 7.07px) calc(24px + 7.07px), 10px calc(48.00px + 4.14px));
}

.volver {
    grid-column: 1/2;
}

.aceptar {
    grid-column: 3/4;
} 

.otro{
    margin: 0 4rem;
}

.volver,
.aceptar,
.otro {
    text-align: center;
    color: azure;
    font-size: 4rem;
    background-color: var(--secundario);
    border-radius: 4rem;
}
/*login*/
.labels-login{
    font-size: 2rem;
}
.alerta{
    height: 4rem;
    padding: .5rem;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    margin: 1rem 0;
}
.error{
    background-color: rgb(189, 7, 7);
}

.exito{
    background-color: #71B100;
}
.pantalla-central-consulta{
    grid-column: 2/3;
    grid-row: 2/4;
}
.pantalla-central {
    grid-column: 2/3;
    grid-row: 1/-4;
}

.pantalla-text{
    font-size: 10rem;
}

/* .pantalla_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.pantalla-p{
    padding-top: 2rem;
}

.pantalla{
    margin: 10rem;
    padding-top: 10rem;
    width: 50rem;
    height: 50rem;
    border-radius: 10rem;
    border: 2px solid black;
    background-color: antiquewhite;
}

.centro{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
}
thead{
    background-color: #1e4961;
    
}
th{
    color: #ffffff;
    padding: 2rem;

}
td{
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
}